# Server (secret)

PORT=8080
FRONTEND_URL=http://localhost:5173

# Spotify OAuth (from developer dashboard)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8080/auth/callback
SPOTIFY_SCOPES=user-read-email user-read-private

# App auth
JWT_SECRET=
JWT_EXPIRES_IN=7d

MONGODB_URI=
